* {
  font-family: 'Quicksand', sans-serif;
}

body {
  padding: 8px;
}

td {
  border-right: 1px solid dodgerblue;
}

th,
td {
  padding: 8px;
}

.max-w-50 {
  max-width: 50px;
}

.border-1px {
  border: 1px solid black;
}

.fullSize {
  width: 100%;
  height: 100%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
}

.a-center {
  align-items: center;
}

.m-left-24 {
  margin-left: 24px;
}

.spacer-16 {
  width: 16px;
  height: 16px;
  display: inline-block;
}

.progress {
  color: dodgerblue;
}

.pass {
  color: limegreen;
}

.fail {
  color: red;
}

.tabs-container {
  width: 100%;
  height: 30px;
  display: flex;
  margin-bottom: 24px;
}

.tab {
  text-transform: uppercase;
  min-width: 100px;
  height: 100%;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0 8px;
  margin: 0 4px;
}

.selected {
  background: dodgerblue;
  color: white;
}
